* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  background-color: #f4f4f4;
  /*This is always on the main access*/
  /* justify-content: end; */
  /*This is always on the cross access*/
  /* align-items: center; */
  /* flex-wrap: wrap;*/
}
.item {
  flex-basis: 1;
  height: 100px;
  background: #254de4;
  margin: 10px;
  color: #fff;
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {
}
.item:nth-of-type(2) {
}
