@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  margin: 15px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 10px 24px;
  width: 400px;
}
a {
  text-decoration: none;
  color: darkgray;
  font-weight: bold;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: #eeeeee;
}
.left-links,
.right-links {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
.left-links {
  margin-left: 20px;
}
.right-links {
  margin-right: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
